<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <h3>{{title}}</h3>
        <img src="/img/robot.png">
        <p>Created by {{name}}</p>
    </body>
</html>